body{
    font-family: 'Ubuntu', sans-serif;
}



.cunt{
    min-height:60vh !important;
    max-width: 100vw !important;
    background-color: rgb(185, 253, 255);
}

.profileimg{
    border: red 30px ;
    border-radius: 50% !important;
    /* width: 50vw; */
    border: 3px solid #ffffff!important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

.profilediv{
    background-color: rgb(185, 253, 255);
    border: none !important;
}

.cardshadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.profiletext{
    margin-top: 15vh !important;
}



@media screen and (max-width: 575px) {
    .profiletext{
      margin-top: 10px !important;
    }
  }